<div class="bg-white shadow-md flex items-center justify-between h-16 px-4">
  <div class="flex items-center">
    <div class="flex items-center">
      <div class="bg-green-500 rounded-md p-2 mr-2">
        <i class="ri-file-text-line text-white text-lg"></i>
      </div>
      <div>
        <h1 class="text-lg font-semibold">eGranjaCAT</h1>
        <p class="text-sm text-gray-500">La teva granja, optimitzada.</p>
      </div>
    </div>
  </div>

  <div class="flex items-center">
    <div class="mr-4">
    </div>

    <div class="mr-4">
      ES
    </div>

    <div class="mr-4">
      <i class="ri-notification-line text-lg"></i>
    </div>

 
  </div>
</div>
